@media print {
  body {
    font-family: "Times New Roman";
    font-size: 12px;
    width: 75%;
  }
}

* {
  text-align: justify;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: Arial, san-serif;
  font-size: 14px;
  line-height: 1.5;
  max-width: 960px;
  margin: 0 auto;
}

.float-left {
  float: left;
}

#wrapper {
  width: 100%;
}