/* line 1, ../scss/_global.scss */
html, body {
  background: #ffffff; }

/* line 5, ../scss/_global.scss */
.container {
  max-width: 960px; }

/* line 9, ../scss/_global.scss */
a, .seaward-header .wrapper .menu .nav-mobile a, .seaward-header .wrapper .menu .nav-desktop ul li a {
  text-decoration: none;
  color: #000000; }
  /* line 12, ../scss/_global.scss */
  a:hover, .seaward-header .wrapper .menu .nav-mobile a:hover, .seaward-header .wrapper .menu .nav-desktop ul li a:hover {
    color: #F18D2B;
    text-decoration: none; }

/* line 18, ../scss/_global.scss */
.ul-no-style {
  list-style: none;
  padding: 0; }

/* line 23, ../scss/_global.scss */
.btn-org {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #F18D2B url("../img/arrow_left.png") no-repeat center right;
  color: #FFFFFF;
  border: 1px solid #F18D2B;
  padding-right: 40px; }
  /* line 29, ../scss/_global.scss */
  .btn-org :hover {
    background: #FFFFFF url("../img/arrow_left2.png") no-repeat center right;
    color: #F18D2B; }

/* line 35, ../scss/_global.scss */
.orange {
  color: #F18D2B; }

/* line 1, ../scss/_header.scss */
.seaward-header {
  border-top: 5px solid #F18D2B;
  padding-top: 20px; }
  /* line 4, ../scss/_header.scss */
  .seaward-header .wrapper {
    padding-bottom: 10px; }
    /* line 6, ../scss/_header.scss */
    .seaward-header .wrapper .logo {
      z-index: 999;
      position: relative; }
      /* line 9, ../scss/_header.scss */
      .seaward-header .wrapper .logo img {
        position: relative;
        z-index: 9999;
        float: right;
        margin-right: 35px; }
      /* line 15, ../scss/_header.scss */
      .seaward-header .wrapper .logo .top-bottom {
        height: 23px;
        width: 1000%;
        position: absolute;
        bottom: -12px;
        right: 42px;
        z-index: 99;
        background: #ffff; }
      /* line 24, ../scss/_header.scss */
      .seaward-header .wrapper .logo .slun {
        height: 23px;
        width: 42px;
        background: url("../img/white_slunt.png") no-repeat right;
        position: absolute;
        bottom: -12px;
        right: 0; }
    /* line 33, ../scss/_header.scss */
    .seaward-header .wrapper .menu {
      margin-top: 30px;
      font-size: 15px; }
      /* line 36, ../scss/_header.scss */
      .seaward-header .wrapper .menu .hambur {
        width: 35px;
        height: 25px;
        margin-right: 10px;
        float: right; }
        /* line 41, ../scss/_header.scss */
        .seaward-header .wrapper .menu .hambur[aria-expanded^=true] {
          border: 1px solid #F18D2B;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px; }
        /* line 45, ../scss/_header.scss */
        .seaward-header .wrapper .menu .hambur span {
          width: 30px;
          height: 5px;
          background: #5F5F5F;
          margin: 2px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          display: block; }
        /* line 53, ../scss/_header.scss */
        .seaward-header .wrapper .menu .hambur:hover {
          cursor: pointer; }
      /* line 57, ../scss/_header.scss */
      .seaward-header .wrapper .menu .nav-mobile {
        right: 45px; }
      /* line 63, ../scss/_header.scss */
      .seaward-header .wrapper .menu .nav-desktop {
        padding: 0; }
        /* line 65, ../scss/_header.scss */
        .seaward-header .wrapper .menu .nav-desktop ul {
          padding: 0; }
          /* line 67, ../scss/_header.scss */
          .seaward-header .wrapper .menu .nav-desktop ul li {
            float: left; }
            /* line 72, ../scss/_header.scss */
            .seaward-header .wrapper .menu .nav-desktop ul li span {
              padding: 0 10px; }
  /* line 81, ../scss/_header.scss */
  .seaward-header #slider {
    top: -20px; }
    /* line 84, ../scss/_header.scss */
    .seaward-header #slider ol li {
      background: #FFFFFF;
      border: none; }
    /* line 88, ../scss/_header.scss */
    .seaward-header #slider ol .active {
      background: #F18D2B; }
    /* line 94, ../scss/_header.scss */
    .seaward-header #slider .carousel-inner .item img {
      width: 100%; }
