/* line 1, ../scss/_global.scss */
html, body {
  font-family: 'Open Sans', sans-serif;
  background: #ffffff; }
  /* line 4, ../scss/_global.scss */
  html a, html .seaward-header .wrapper .menu .nav-mobile a, .seaward-header .wrapper .menu .nav-mobile html a, html .seaward-header .wrapper .menu .nav-desktop ul li a, .seaward-header .wrapper .menu .nav-desktop ul li html a, body a, body .seaward-header .wrapper .menu .nav-mobile a, .seaward-header .wrapper .menu .nav-mobile body a, body .seaward-header .wrapper .menu .nav-desktop ul li a, .seaward-header .wrapper .menu .nav-desktop ul li body a {
    text-decoration: none;
    color: #000000; }
    /* line 7, ../scss/_global.scss */
    html a:hover, html .seaward-header .wrapper .menu .nav-mobile a:hover, .seaward-header .wrapper .menu .nav-mobile html a:hover, html .seaward-header .wrapper .menu .nav-desktop ul li a:hover, .seaward-header .wrapper .menu .nav-desktop ul li html a:hover, body a:hover, body .seaward-header .wrapper .menu .nav-mobile a:hover, .seaward-header .wrapper .menu .nav-mobile body a:hover, body .seaward-header .wrapper .menu .nav-desktop ul li a:hover, .seaward-header .wrapper .menu .nav-desktop ul li body a:hover {
      color: #F18D2B;
      text-decoration: none; }

/* line 14, ../scss/_global.scss */
.container {
  max-width: 960px; }

/* line 18, ../scss/_global.scss */
.ul-no-style {
  list-style: none;
  padding: 0; }

/* line 23, ../scss/_global.scss */
.btn-org {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #F18D2B url("../img/arrow_left.png") no-repeat center right;
  color: #FFFFFF;
  border: 1px solid #F18D2B;
  padding: 10px 40px 10px 15px; }
  /* line 29, ../scss/_global.scss */
  .btn-org:hover {
    background: #FFFFFF url("../img/arrow_left2.png") no-repeat center right;
    color: #F18D2B; }

/* line 35, ../scss/_global.scss */
.orange {
  color: #F18D2B; }

/* line 1, ../scss/_header.scss */
.seaward-header {
  border-top: 5px solid #F18D2B;
  padding-top: 20px; }
  /* line 4, ../scss/_header.scss */
  .seaward-header .wrapper {
    padding-bottom: 10px; }
    /* line 6, ../scss/_header.scss */
    .seaward-header .wrapper .logo {
      z-index: 999;
      position: relative; }
      /* line 9, ../scss/_header.scss */
      .seaward-header .wrapper .logo img {
        position: relative;
        z-index: 9999;
        float: right;
        margin-right: 35px; }
      /* line 15, ../scss/_header.scss */
      .seaward-header .wrapper .logo .top-bottom {
        height: 23px;
        background: #FFFFFF;
        width: 1000%;
        position: absolute;
        bottom: -12px;
        right: 42px;
        z-index: 99;
        background: #FFFFFF; }
      /* line 25, ../scss/_header.scss */
      .seaward-header .wrapper .logo .slun {
        height: 23px;
        width: 42px;
        background: url("../img/white_slunt.png") no-repeat right;
        position: absolute;
        bottom: -12px;
        right: 0; }
    /* line 34, ../scss/_header.scss */
    .seaward-header .wrapper .menu {
      margin-top: 30px;
      font-size: 15px; }
      /* line 37, ../scss/_header.scss */
      .seaward-header .wrapper .menu .hambur {
        width: 35px;
        height: 25px;
        margin-right: 10px;
        float: right; }
        /* line 42, ../scss/_header.scss */
        .seaward-header .wrapper .menu .hambur[aria-expanded^=true] {
          border: 1px solid #F18D2B;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px; }
        /* line 46, ../scss/_header.scss */
        .seaward-header .wrapper .menu .hambur span {
          width: 30px;
          height: 5px;
          background: #5F5F5F;
          margin: 2px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          display: block; }
        /* line 54, ../scss/_header.scss */
        .seaward-header .wrapper .menu .hambur:hover {
          cursor: pointer; }
      /* line 58, ../scss/_header.scss */
      .seaward-header .wrapper .menu .nav-mobile {
        right: 45px; }
      /* line 64, ../scss/_header.scss */
      .seaward-header .wrapper .menu .nav-desktop {
        padding: 0; }
        /* line 66, ../scss/_header.scss */
        .seaward-header .wrapper .menu .nav-desktop ul {
          padding: 0; }
          /* line 68, ../scss/_header.scss */
          .seaward-header .wrapper .menu .nav-desktop ul li {
            float: left; }
            /* line 73, ../scss/_header.scss */
            .seaward-header .wrapper .menu .nav-desktop ul li span {
              padding: 0 10px; }
  /* line 82, ../scss/_header.scss */
  .seaward-header #slider {
    top: -20px; }
    /* line 85, ../scss/_header.scss */
    .seaward-header #slider ol li {
      background: #FFFFFF;
      margin-left: 10px;
      border: none; }
    /* line 90, ../scss/_header.scss */
    .seaward-header #slider ol .active {
      background: #F18D2B; }
    /* line 96, ../scss/_header.scss */
    .seaward-header #slider .carousel-inner .item img {
      width: 100%; }
    /* line 99, ../scss/_header.scss */
    .seaward-header #slider .carousel-inner .item .gradient {
      position: absolute;
      bottom: 0;
      left: 0; }
    /* line 104, ../scss/_header.scss */
    .seaward-header #slider .carousel-inner .item .text-wrapper {
      height: 100%; }
      /* line 106, ../scss/_header.scss */
      .seaward-header #slider .carousel-inner .item .text-wrapper .slide-text {
        position: absolute;
        bottom: 60px;
        padding: 0 30px;
        max-width: 960px;
        font-weight: 100;
        color: #FFFFFF;
        font-size: 34px; }

@media (max-width: 767px) {
  /* line 125, ../scss/_header.scss */
  .seaward-header .wrapper .menu .dropdown {
    display: block; }
  /* line 128, ../scss/_header.scss */
  .seaward-header .wrapper .menu .nav-desktop {
    display: none; } }
@media (min-width: 768px) {
  /* line 140, ../scss/_header.scss */
  .seaward-header .wrapper .menu .dropdown {
    display: none; }
  /* line 143, ../scss/_header.scss */
  .seaward-header .wrapper .menu .nav-desktop {
    display: block; } }
/* line 1, ../scss/_body.scss */
section {
  margin-top: -20px; }
  /* line 3, ../scss/_body.scss */
  section .block-1 {
    text-align: center;
    width: 100%;
    background: url("../img/background1.jpg") no-repeat;
    background-size: cover;
    padding: 60px 0;
    min-height: 500px; }
    /* line 10, ../scss/_body.scss */
    section .block-1 .block-content {
      margin-top: 10px;
      line-height: 24px;
      font-size: 16px; }
      /* line 71, ../scss/_mixins.scss */
      section .block-1 .block-content h1, section .block-1 .block-content h2, section .block-1 .block-content h3, section .block-1 .block-content h4, section .block-1 .block-content h5 {
        margin-bottom: 26px; }
      /* line 74, ../scss/_mixins.scss */
      section .block-1 .block-content h2 {
        font-size: 32px; }
      /* line 77, ../scss/_mixins.scss */
      section .block-1 .block-content p {
        margin-bottom: 30px; }
  /* line 15, ../scss/_body.scss */
  section .block-background {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    min-height: 450px; }
    /* line 19, ../scss/_body.scss */
    section .block-background .block-wrapper {
      position: relative; }
      /* line 21, ../scss/_body.scss */
      section .block-background .block-wrapper .block-content {
        margin-top: 10px;
        line-height: 24px;
        font-size: 16px;
        color: #FFFFFF;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 10px 30px;
        position: absolute;
        min-width: 350px;
        min-height: 350px;
        bottom: -450px; }
        /* line 71, ../scss/_mixins.scss */
        section .block-background .block-wrapper .block-content h1, section .block-background .block-wrapper .block-content h2, section .block-background .block-wrapper .block-content h3, section .block-background .block-wrapper .block-content h4, section .block-background .block-wrapper .block-content h5 {
          margin-bottom: 26px; }
        /* line 74, ../scss/_mixins.scss */
        section .block-background .block-wrapper .block-content h2 {
          font-size: 32px; }
        /* line 77, ../scss/_mixins.scss */
        section .block-background .block-wrapper .block-content p {
          margin-bottom: 30px; }
        /* line 30, ../scss/_body.scss */
        section .block-background .block-wrapper .block-content-left {
          left: 0; }
        /* line 33, ../scss/_body.scss */
        section .block-background .block-wrapper .block-content-right {
          right: 0; }

/* line 42, ../scss/_body.scss */
.red-div {
  background-color: #804340;
  height: 35px; }

/* line 1, ../scss/_footer.scss */
.seaward-footer {
  background-color: #414141;
  color: #FFFFFF;
  padding-top: 60px; }
  /* line 5, ../scss/_footer.scss */
  .seaward-footer .footer-nav {
    border-bottom: 1px solid #646464;
    padding-bottom: 20px; }
    /* line 8, ../scss/_footer.scss */
    .seaward-footer .footer-nav .nav-list {
      padding: 0; }
      /* line 12, ../scss/_footer.scss */
      .seaward-footer .footer-nav .nav-list ul li.nav-item {
        margin-bottom: 12px; }
        /* line 14, ../scss/_footer.scss */
        .seaward-footer .footer-nav .nav-list ul li.nav-item a {
          font-size: 15px;
          color: #FFFFFF; }
          /* line 83, ../scss/_mixins.scss */
          .seaward-footer .footer-nav .nav-list ul li.nav-item a:hover {
            color: #F18D2B; }
      /* line 20, ../scss/_footer.scss */
      .seaward-footer .footer-nav .nav-list ul li.nav-subitem {
        margin-bottom: 8px; }
        /* line 22, ../scss/_footer.scss */
        .seaward-footer .footer-nav .nav-list ul li.nav-subitem a {
          color: #d5d5d5;
          font-size: 14px;
          font-weight: 300; }
          /* line 83, ../scss/_mixins.scss */
          .seaward-footer .footer-nav .nav-list ul li.nav-subitem a:hover {
            color: #F18D2B; }
  /* line 34, ../scss/_footer.scss */
  .seaward-footer .copyright {
    text-align: center;
    margin: 20px 0;
    font-size: 12px; }

@media (max-width: 767px) {
  /* line 42, ../scss/_footer.scss */
  .seaward-footer {
    padding-top: 10px; }
    /* line 44, ../scss/_footer.scss */
    .seaward-footer .footer-nav {
      display: none; } }
@media (min-width: 768px) {
  /* line 52, ../scss/_footer.scss */
  .seaward-footer .footer-nav {
    display: block; } }
