html, body{
  margin:0;
  padding:0;
  border:0;
  font-weight:normal;
  font-size:18px;
  font-family:'FuturaBTLightRegular',sans-serif;
  line-height: 30px;
}

html h3, body h3{
  font-size: 24px;
  font-weight: bold;
}

html h2, body h2{
  font-size: 28px;
  font-weight: bold;
}

$global_color_white: #ffffff;
$global_padding: 10px 20px 10px 20px;
$global_border: 1px solid #030303;
$global_box_shadow: 0 5px 9px #888888;

.container{
  min-width: 320px;
}

a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}

.link{
  border-bottom: 1px solid $global_color_white;
  display: inline-block;
  a{
    color: $global_color_white;
  }
}

.link_bottom{
  border-bottom: 1px solid #030303;
  display: inline-block;
}