footer{
  background: #1c1c1c;
  text-align: center;
  padding: 35px;
  margin-top: 60px;
  .face{
    display: inline-block;
    background: url("../img/icon-face.png") no-repeat top left;
    padding-left: 40px;
  }
}