header {
  background: #000000;
  padding: 40px 40px;
  margin-bottom: 35px;
  .menu {
    nav {
      float: right;
      .site_title {
        margin-right: 40px;
        padding-right: 40px;
        border-right: 1px solid #8f8f8f;
      }
      .arrow {
        padding-right: 40px;
      }
    }
    .mobile-nav {
      .navigation{
        margin-top: 20px;
        ul {
          margin: 10px 0;
          padding: 0;
          li {
            list-style: none;
          }
        }
      }

      .collapse {
        @include border-radius-circle(5px);
        border: 1px solid #808080;
      }
      .icon-bar {
        background: #808080;
      }
    }

  }
}