$font-gotham-xlight: 'Gotham-XLight';
$font-gotham-thin: 'Gotham-Thin';
$font-roboto: 'Roboto';
$btn-blue: rgb(24,159,249);
$btn-blue-dark: rgb(6,40,62);
$btn-grey: rgb(27,27,24);
$text-grey: #b1b1b1;
$text-red: #de2f2f;
$text-light-grey: #7d7967;
$text-link: rgb(0,158,251);
$btn-blue-main: rgb(0,158,251);
$btn-blue-main-hover: rgba(0,158,251,0.8);
$text-link-hover: rgba(0,158,251,0.8);
$c-white: #ffffff;
$dot-grey:#36362f;
$dot-blue:#189ff9;
$bor_grey: #767676;