section{
  margin-top: -20px;
  .block-1{
    text-align: center;
    width: 100%;
    background: url("../img/background1.jpg") no-repeat;
    background-size: cover;
    padding: 60px 0;
    min-height: 386px;
    .block-content{
      margin-top: 10px;
      line-height: 24px;
      font-size: 16px;
      h1,h2,h3,h4,h5{
        margin-bottom: 26px;
      }
      h2{
        font-size: 32px;
      }
      p{
        margin-bottom: 30px;
      }
    }
  }
}