section{
  margin-top: -20px;
  .block-1{
    text-align: center;
    width: 100%;
    background: url("../img/background1.jpg") no-repeat;
    background-size: cover;
    padding: 60px 0;
    min-height: 500px;
    .block-content{
      @include block-content();
    }
  }

  .block-background{
    background-repeat: no-repeat !important;
    background-size: cover !important;
    min-height: 450px;
    .block-wrapper{
      position: relative;
      .block-content{
        @include block-content();
        color: $white;
        background-color: rgba(0,0,0,0.5);
        padding: 10px 30px;
        position: absolute;
        min-width: 350px;
        min-height: 350px;
        bottom: -450px;
        &-left{
          left: 0;
        }
        &-right{
          right: 0;
        }
      }
    }

  }
}

.red-div{
  background-color: #804340;
  height: 35px;
}