html, body{
  font-family: 'Open Sans', sans-serif;
  background: #ffffff;
  a {
    text-decoration: none;
    color: #000000;
    &:hover{
      color: $orange;
      text-decoration: none;
    }
  }
}

.container{
  max-width: 960px;
}

.ul-no-style{
  list-style: none;
  padding: 0;
}

.btn-org{
  @include border-radius-circle(3px);
  background: $orange url('../img/arrow_left.png') no-repeat center right;
  color: $white;
  border: 1px solid $orange;
  padding: 10px 40px 10px 15px;
  &:hover{
    background: $white url("../img/arrow_left2.png") no-repeat center right;
    color: $orange;
  }
}

.orange{
  color: $orange;
}