@import url(http://fonts.googleapis.com/css?family=Unna);
@import url(http://fonts.googleapis.com/css?family=Neuton:300,400,400italic);
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-regular-webfont.eot");
  src: url("../fonts/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-regular-webfont.woff") format("woff"), url("../fonts/roboto-regular-webfont.ttf") format("truetype"), url("../fonts/roboto-regular-webfont.svg#Roboto") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-italic-webfont.eot");
  src: url("../fonts/roboto-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-italic-webfont.woff") format("woff"), url("../fonts/roboto-italic-webfont.ttf") format("truetype"), url("../fonts/roboto-italic-webfont.svg#Roboto") format("svg");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-medium-webfont.eot");
  src: url("../fonts/roboto-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-medium-webfont.woff") format("woff"), url("../fonts/roboto-medium-webfont.ttf") format("truetype"), url("../fonts/roboto-medium-webfont.svg#Roboto") format("svg");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-mediumitalic-webfont.eot");
  src: url("../fonts/roboto-mediumitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-mediumitalic-webfont.woff") format("woff"), url("../fonts/roboto-mediumitalic-webfont.ttf") format("truetype"), url("../fonts/roboto-mediumitalic-webfont.svg#Roboto") format("svg");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-light-webfont.eot");
  src: url("../fonts/roboto-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-light-webfont.woff") format("woff"), url("../fonts/roboto-light-webfont.ttf") format("truetype"), url("../fonts/roboto-light-webfont.svg#Roboto") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-lightitalic-webfont.eot");
  src: url("../fonts/roboto-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-lightitalic-webfont.woff") format("woff"), url("../fonts/roboto-lightitalic-webfont.ttf") format("truetype"), url("../fonts/roboto-lightitalic-webfont.svg#Roboto") format("svg");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-bold-webfont.eot");
  src: url("../fonts/roboto-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-bold-webfont.woff") format("woff"), url("../fonts/roboto-bold-webfont.ttf") format("truetype"), url("../fonts/roboto-bold-webfont.svg#Roboto") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-bolditalic-webfont.eot");
  src: url("../fonts/roboto-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-bolditalic-webfont.woff") format("woff"), url("../fonts/roboto-bolditalic-webfont.ttf") format("truetype"), url("../fonts/roboto-bolditalic-webfont.svg#Roboto") format("svg");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: "Gotham-XLight";
  src: url("../fonts/gotham-xlight-webfont.eot");
  src: url("../fonts/gotham-xlight-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham-xlight-webfont.woff") format("woff"), url("../fonts/gotham-xlight-webfont.ttf") format("truetype"), url("../fonts/gotham-xlight-webfont.svg#Gotham-XLight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Gotham-XLight";
  src: url("../fonts/gotham-xlightitalic-webfont.eot");
  src: url("../fonts/gotham-xlightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham-xlightitalic-webfont.woff") format("woff"), url("../fonts/gotham-xlightitalic-webfont.ttf") format("truetype"), url("../fonts/gotham-xlightitalic-webfont.svg#Gotham-XLight") format("svg");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: "Gotham-Thin";
  src: url("../fonts/gotham-thin-webfont.eot");
  src: url("../fonts/gotham-thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham-thin-webfont.woff") format("woff"), url("../fonts/gotham-thin-webfont.ttf") format("truetype"), url("../fonts/gotham-thin-webfont.svg#Gotham-Thin") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Gotham-Thin";
  src: url("../fonts/gotham-thinitalic-webfont.eot");
  src: url("../fonts/gotham-thinitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham-thinitalic-webfont.woff") format("woff"), url("../fonts/gotham-thinitalic-webfont.ttf") format("truetype"), url("../fonts/gotham-thinitalic-webfont.svg#Gotham-Thin") format("svg");
  font-weight: normal;
  font-style: italic; }
/* line 15, ../scss/_reset.scss */
.size10 {
  font-size: 10px; }

/* line 16, ../scss/_reset.scss */
.size11 {
  font-size: 11px; }

/* line 17, ../scss/_reset.scss */
.size12 {
  font-size: 12px; }

/* line 18, ../scss/_reset.scss */
.size13 {
  font-size: 13px; }

/* line 19, ../scss/_reset.scss */
.size14 {
  font-size: 14px; }

/* line 20, ../scss/_reset.scss */
.size16 {
  font-size: 16px; }

/* line 21, ../scss/_reset.scss */
.size18 {
  font-size: 18px; }

/* line 22, ../scss/_reset.scss */
.size20 {
  font-size: 20px; }

/* line 23, ../scss/_reset.scss */
.size24 {
  font-size: 24px; }

/* line 24, ../scss/_reset.scss */
.size30 {
  font-size: 30px; }

/* line 25, ../scss/_reset.scss */
.size36 {
  font-size: 36px; }

/* line 26, ../scss/_reset.scss */
.size48 {
  font-size: 48px; }

/* line 27, ../scss/_reset.scss */
.size60 {
  font-size: 60px; }

/* line 28, ../scss/_reset.scss */
.size72 {
  font-size: 72px; }

/* line 29, ../scss/_reset.scss */
.size90 {
  font-size: 90px; }

/* line 31, ../scss/_reset.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 15px; }

/* line 42, ../scss/_reset.scss */
*:focus, *:hover {
  outline: none !important; }

/* line 48, ../scss/_reset.scss */
html,
body {
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
  background-color: #2b2b2b;
  color: #ffffff;
  font-size: 20px; }

/* line 58, ../scss/_reset.scss */
a {
  color: #009efb; }
  /* line 60, ../scss/_reset.scss */
  a:focus, a:hover {
    color: rgba(0, 158, 251, 0.8); }
  /* line 64, ../scss/_reset.scss */
  a[href^=tel], a[href^=mailto] {
    text-decoration: none; }

/* line 71, ../scss/_reset.scss */
.spacing10 {
  height: 10px; }
/* line 74, ../scss/_reset.scss */
.spacing20 {
  height: 20px; }
/* line 77, ../scss/_reset.scss */
.spacing30 {
  height: 30px; }
/* line 80, ../scss/_reset.scss */
.spacing50 {
  height: 50px; }
/* line 83, ../scss/_reset.scss */
.spacing100 {
  height: 100px; }

/* line 88, ../scss/_reset.scss */
blockquote {
  border: none;
  padding: 0;
  font-size: 32px;
  width: 80%;
  margin: 0 auto 20px;
  line-height: 1.3; }

/* line 97, ../scss/_reset.scss */
p {
  margin-bottom: 30px; }

/* line 7, ../scss/_global.scss */
.container {
  max-width: 1124px; }

/* line 11, ../scss/_global.scss */
a {
  color: #ffffff; }
  /* line 13, ../scss/_global.scss */
  a:focus, a:hover {
    color: #afaeaa;
    text-decoration: none; }
  /* line 18, ../scss/_global.scss */
  a[href^=tel], a[href^=mailto] {
    text-decoration: none; }

/* line 25, ../scss/_global.scss */
.spacing10 {
  height: 10px; }
/* line 28, ../scss/_global.scss */
.spacing20 {
  height: 20px; }
/* line 31, ../scss/_global.scss */
.spacing30 {
  height: 30px; }
/* line 34, ../scss/_global.scss */
.spacing50 {
  height: 50px; }
/* line 37, ../scss/_global.scss */
.spacing100 {
  height: 100px; }

/* line 42, ../scss/_global.scss */
p {
  margin-bottom: 30px; }

/* line 46, ../scss/_global.scss */
.red {
  color: #de2f2f !important; }

/* line 50, ../scss/_global.scss */
.grey {
  color: #b1b1b1; }

/* line 54, ../scss/_global.scss */
.arrow {
  background: url("../img/red-arrow.png") no-repeat right; }

/* line 58, ../scss/_global.scss */
.middle {
  display: inline-block;
  vertical-align: middle;
  float: none; }

/* line 65, ../scss/_global.scss */
.none-style {
  padding: 0;
  list-style: none; }

/* line 70, ../scss/_global.scss */
.no-padding {
  padding: 0 !important;
  margin: 0 !important; }

/* line 1, ../scss/_header.scss */
header {
  background: #000000;
  padding: 40px 40px;
  margin-bottom: 35px; }
  /* line 6, ../scss/_header.scss */
  header .menu nav {
    float: right; }
    /* line 8, ../scss/_header.scss */
    header .menu nav .site_title {
      margin-right: 40px;
      padding-right: 40px;
      border-right: 1px solid #8f8f8f; }
    /* line 13, ../scss/_header.scss */
    header .menu nav .arrow {
      padding-right: 40px; }
  /* line 18, ../scss/_header.scss */
  header .menu .mobile-nav .navigation {
    margin-top: 20px; }
    /* line 20, ../scss/_header.scss */
    header .menu .mobile-nav .navigation ul {
      margin: 10px 0;
      padding: 0; }
      /* line 23, ../scss/_header.scss */
      header .menu .mobile-nav .navigation ul li {
        list-style: none; }
  /* line 29, ../scss/_header.scss */
  header .menu .mobile-nav .collapse {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #808080; }
  /* line 33, ../scss/_header.scss */
  header .menu .mobile-nav .icon-bar {
    background: #808080; }

/* line 2, ../scss/_body.scss */
section .banner-wrapper {
  padding: 5px;
  border: 1px solid #7c7c7c; }
  /* line 5, ../scss/_body.scss */
  section .banner-wrapper .banner {
    min-height: 180px; }
    /* line 7, ../scss/_body.scss */
    section .banner-wrapper .banner .text-content {
      font-size: 43px; }
/* line 12, ../scss/_body.scss */
section .wrapper {
  margin-top: 70px; }
  /* line 14, ../scss/_body.scss */
  section .wrapper .sidebar {
    text-align: center;
    font-size: 24px; }
    /* line 18, ../scss/_body.scss */
    section .wrapper .sidebar .category .cat_title {
      line-height: 50px;
      border-bottom: 1px solid #ffffff;
      padding-bottom: 30px;
      display: block; }
    /* line 25, ../scss/_body.scss */
    section .wrapper .sidebar ul {
      margin-top: 60px; }
      /* line 27, ../scss/_body.scss */
      section .wrapper .sidebar ul li {
        margin-bottom: 30px; }
  /* line 32, ../scss/_body.scss */
  section .wrapper .product_wrapper {
    padding-left: 96px; }
    /* line 34, ../scss/_body.scss */
    section .wrapper .product_wrapper .pro_header {
      padding-bottom: 30px;
      margin-bottom: 40px;
      font-size: 36px;
      line-height: 50px;
      border-bottom: 1px solid #b62424; }
      /* line 40, ../scss/_body.scss */
      section .wrapper .product_wrapper .pro_header .arrow {
        padding-right: 40px;
        margin-right: 20px; }
    /* line 46, ../scss/_body.scss */
    section .wrapper .product_wrapper ul li {
      margin-bottom: 60px; }
      /* line 48, ../scss/_body.scss */
      section .wrapper .product_wrapper ul li .p-item {
        width: 80%;
        text-align: center;
        display: inline-block; }
        /* line 53, ../scss/_body.scss */
        section .wrapper .product_wrapper ul li .p-item img {
          width: 100%; }
        /* line 58, ../scss/_body.scss */
        section .wrapper .product_wrapper ul li .p-item .btn {
          border: 1px solid #3f3f3f;
          font-style: italic;
          background: #1d1d1d; }
          /* line 62, ../scss/_body.scss */
          section .wrapper .product_wrapper ul li .p-item .btn a {
            color: #de2f2f; }
      /* line 67, ../scss/_body.scss */
      section .wrapper .product_wrapper ul li .i-left {
        float: left; }
      /* line 70, ../scss/_body.scss */
      section .wrapper .product_wrapper ul li .i-right {
        float: right; }
    /* line 75, ../scss/_body.scss */
    section .wrapper .product_wrapper .i-middle {
      text-align: center; }

@media (max-width: 767px) {
  /* line 86, ../scss/_body.scss */
  section .wrapper .product_wrapper {
    padding-left: 10px;
    padding-right: 10px; }
    /* line 89, ../scss/_body.scss */
    section .wrapper .product_wrapper ul {
      text-align: center; }
      /* line 91, ../scss/_body.scss */
      section .wrapper .product_wrapper ul li {
        display: block; }
        /* line 93, ../scss/_body.scss */
        section .wrapper .product_wrapper ul li .i-left, section .wrapper .product_wrapper ul li .i-right {
          float: none; } }
@media (max-width: 1199px) {
  /* line 108, ../scss/_body.scss */
  section .wrapper .product_wrapper ul {
    text-align: center; }
    /* line 110, ../scss/_body.scss */
    section .wrapper .product_wrapper ul li {
      display: inline-block; }
      /* line 112, ../scss/_body.scss */
      section .wrapper .product_wrapper ul li .i-left, section .wrapper .product_wrapper ul li .i-right {
        float: none; }
      /* line 115, ../scss/_body.scss */
      section .wrapper .product_wrapper ul li .p-item {
        float: none;
        width: 100%; } }
/* line 1, ../scss/_footer.scss */
footer {
  background: #1c1c1c;
  text-align: center;
  padding: 35px; }
  /* line 5, ../scss/_footer.scss */
  footer .face {
    display: inline-block;
    background: url("../img/icon-face.png") no-repeat top left;
    padding-left: 40px; }
